/* GENERAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

html {
    scroll-behavior: smooth;
}

/* --------------------------------------------------------SCROLL TO THE TOP FEATURE ----------------------------------------------------------------- */
.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(128, 128, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
}

.stt:hover {
    opacity: 0.8;
}

.stt:focus {
    opacity: 0.9;
}

.stt:active {
    opacity: 1;
}

/* --------------------------------------------------------END SCROLL TO THE TOP FEATURE ----------------------------------------------------------------- */

/* --------------------------------------------------------ZOOM FEATURE ON IMAGES ----------------------------------------------------------------- */
.zoom {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
/* --------------------------------------------------------END ZOOM FEATURE ON IMAGES ----------------------------------------------------------------- */

/* create horizontal break between articles */
hr {
    clear: both;
    visibility: hidden;
}

/* HEADER */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #8679c7; */
    background: url(assets/images/matrix.jpg);
    color: #ffffff;

}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav .menu {
    list-style-type: none;
}

header nav .menu li {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

/* font size and color of links on nav bar */
.menu li a {
    font-size: 30px;
    text-decoration: none;
    color: #c290ff;
}

/* mouse over link */
.menu li a:hover {
    color: whitesmoke;
}

/* .menu li a:visited {
    color: rgb(138, 255, 138);
}

.menu li a:link {
    color: #5432fd;
} */

/* selected link */
.menu li a:active{
    color: yellow;
}

/* BACKGROUND IMAGE OF ME*/
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("assets/images/avatar.jpg");
    background-size: cover;
    background-position: center;
}

/* banner with name and job */
.content {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 37%;
    left: 3%;
}

.content .name {
    font-size: 40px;
}

.content .job {
    font-size: 30px;
    display: flex;
}

/* --------------------------------------------------------TYPING ANIMATION ----------------------------------------------------------------- */
.content .job .typing-text {
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s steps(33) infinite;
}
@keyframes typing {
    0% {
        width: 0ch;
    }
    50% {
        width: 33ch;
    }
    100% {
        width: 0ch;
    }
}
/* --------------------------------------------------------END TYPING ANIMATION ----------------------------------------------------------------- */

/* MAIN CONTENT OF PAGE */
.main {
    width: 100%;
    display: inline-block;
    margin-top: 650px;
    margin-left: 20px;
}

/* about me section */
.about-me {
    width: 95%;
    font-size: 22px;
    word-spacing: 3px;
    margin-bottom: 20px;
    padding: 30px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7b00ff;
    color: #ffffff;
}

/* adjust headers for each section */
.about-me h2,
.contact-me h2,
.my-work h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

/* my work section */
.my-work {
    width: 95%;
    font-size: 22px;
    word-spacing: 3px;
    margin-bottom: 20px;
    padding: 30px;
    height: 1100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7b00ff;
    color: #ffffff;
}

/* contact me section */
.contact-me {
    width: 95%;
    font-size: 22px;
    word-spacing: 3px;
    margin-bottom: 20px;
    padding: 30px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7b00ff;
    color: #ffffff;
}

/* remove bullet points to be replaced later */
.contact-me ul {
    list-style: none;
    line-height: 50px;
    text-align: center;
}

/* emoji for email */
.contact-me ul #email {
    list-style-position: inside;
    list-style-type: '📧';
}

/* emoji for github */
.contact-me ul #github {
    list-style-position: inside;
    list-style-type: '✎';
}

.contact-me #email a,
.contact-me #github a  {
    color: white;
}